body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

header {
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#container3D {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#container3D canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.panel {
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  background: #111;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: none;   
  position: relative; 
  overflow: hidden;   
}



.panel img {
  width: 100%;
  border-radius: 6px;
  margin: 10px 0;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 22px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
#ui {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

#ui button {
  background: #111;
  color: rgb(0, 0, 0);
  border: 1px solid #444;
  padding: 10px 14px;
  cursor: pointer;
  font-family: inherit;
}

#ui button:hover {
  background: #333;
}
#loadingScreen {
  position: fixed;
  inset: 0;
  background: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#loadingBox {
  width: 300px;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

#loadingText {
  margin-bottom: 12px;
  font-size: 16px;
}

#loadingBarContainer {
  width: 100%;
  height: 6px;
  background: #333;
  border-radius: 3px;
  overflow: hidden;
}

#loadingBar {
  width: 0%;
  height: 100%;
  background: #4caf50;
  transition: width 0.2s ease;
}



/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
